<% content_for :title, t('editArticle') %>

<section id="head-travel">

  <div id="head-travel-center">

    <div id="head-travel-img">&nbsp;</div>
    <div id="head-travel-descr">
      <p><%= @trip.title %></p>
      <p>Date start - end</p>
      <p>Author</p>
    </div>

  </div>

</section>

<section class="trip-frm">
  <div id="trip-insert-center">
    <h2><%= t('editArticle') %></h2>

    <%= form_for [@trip, @stage], :html => { multipart: true } do |f| %>

        <div class="colx2-container">
          <div class="colx2">
            <%= f.label :title %><br />
            <%= f.text_field :title %><br />

            <%= f.label :description %><br />
            <%= f.text_area :description %><br />

            <%= f.label :stagetype_id %><br />

            <% Stagetype.all.each do |type| %>
                <div class="trip-insert-radio">
                  <input class="rbtn" type="radio" name="stage[stagetype_id]" value="<%=type.id%>"
                    <% if type==@stage.stagetype %>
                      <%= "checked" %>
                    <%end%>
                  />
                  <span><i class="fa <%=type.icon%>"></i> <%=type.title%></span>
                </div>
            <% end %>
          </div>
          <div class="colx2 col2">
            <%= f.label :adress %><br />
            <div id="find-mapsAPI">
              <input type="text" name="find_addr" id="find_addr" value="<%= @stage.adress %>" />
              <div class="find-btn"><i class="fa fa-search"></i></div>
            </div>

            <div id="finded_adresses"></div>
            <p id="nb_results"></p>

            <%= f.label :date_time %><br />
            <%= f.datetime_select :date_time, :order => [:day, :month, :year, :hour, :minute] %><br /><br />

            <%= f.label :score %> (<%= t('stage_no_score')%>)<br />
            <%= f.range_field :score, in: 0..5, step: 1, :oninput => "sliderShowValue(this.value)", :value => 0 %> <span id="score">0</span><br /><br />

            <label><%=t('add_images')%></label><br />
            <%= file_field_tag "images[]", type: :file, multiple: true %> <br />

            <label><%=t('current_images')%></label><br />
            <div class="images-ctrl">
            <%  @stage.image_stages.each do |photo| %>
              <div class="image-ctrl">
                <%= image_tag photo.image.url(:thumb) %>
                <%= link_to '',
                      [@trip, @stage, photo],
                      :confirm => t('confirm'),
                      :method => :delete,
                      :class=>"fa fa-trash image-ctrl-btn"%>
                </div>
            <%end%>
            </div>


          </div>
        </div>
        <div class="center-text-content">


          <%= link_to(@trip) do %>
              <div class="button-inline">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> <%=t('cancel')%>
              </div>
          <% end %>

          <%= f.submit t('save') %>
        </div>

    <% end %>

    <% if flash[:alerts] %>
        <ul>
          <% flash[:alerts].each do |alert| %>
              <li><%= alert %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</section>

<%= javascript_include_tag 'trip_frm'%>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1Dp3v9OvUEEhePVbi3FoKCHrwpC2Yhhs&callback=initGeoEdit">
</script>
