<footer>
  <div id="footer-center">

    <div class="footer-col col1">
      <h2><%= t('footer_promo_title') %></h2>
      <p> <i class="fa fa-user" aria-hidden="true"></i> <%= t('footer_join_us') %>
        <br/> <i class="fa fa-globe" aria-hidden="true"></i> <%= t('footer_create_trip') %>
        <br/> <i class="fa fa-comment" aria-hidden="true"></i> <%= t('footer_share_experiences') %>
        <br /> <i class="fa fa-eye" aria-hidden="true"></i> <%= t('footer_friends_trips') %>
        <br /> <i class="fa fa-plus" aria-hidden="true"></i> <%= t('footer_more') %> </p>
    </div>

    <div class="footer-col col2">
      <p class="footer-citation"><br/><%= t('footer_citation') %></p>
      <p class="footer-citation-author"><i>(<%= t('footer_author') %>)</i></p>
    </div>

    <div class="footer-col col3">
      <h2><%= t('footer_about_us_title') %></h2>
      <p>
      Margaux Divernois <i class="fa fa-user" aria-hidden="true"></i><br/>
      Steve Visinand <i class="fa fa-user" aria-hidden="true"></i></p>

      <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> All right reserved<br/>
    </div>

  </div>
</footer>