<section id="articles">



  <% if @my_stages.empty? %>
      <p><%= t('nostage') %></p>

  <% else %>
    <% @my_stages.each do |stage| %>

      <section class="article-line">
        <article class="article-all-content">
          <div class="article-box">

            <% if !stage.image_stages.empty?  %>
              <div class="article-gallery">

                <a href="<%= stage.image_stages[0].image.url(:big) %>" class="imgLink">
                  <%= image_tag stage.image_stages[0].image.url(:small), :class => "article-img" %>
                </a>
                <div class="article-gallery-thumbs">
                  <% stage.image_stages.each do |photo| %>
                    <a href="<%= photo.image.url(:big) %>" class="imgLink">
                      <%= image_tag photo.image.url(:thumb), :class => "article-img-thumb" %>
                    </a>
                  <%end%>
                </div>
              </div>
            <%end%>

            <div class="article-content">

              <h1><%= stage.title %></h1>
              <p class="article-descr"><%= stage.description %>

              <p class="article-score">
                <% if stage.score != 0 %><span class="stars-container stars-<%= stage.score %>">★★★★★</span><% end %></p>
              </p>
              <p class="article-lieu"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= stage.adress %></p>

            </div>
          </div>
          <% if current_user == @trip.user && !current_user.nil? %>
            <div class="article-control">
              <%= link_to t('edit'),
                          edit_trip_stage_path(@trip, stage),
                          :class=>"article-control-btn"%>
              <%= link_to t('delete'),
                          [@trip, stage],
                          :confirm => t('confirm'),
                          :method => :delete,
                          :class=>"article-control-btn"%>
            </div>
          <% end %>
        </article>

        <div class="article-chronology">
          <div class="article-chronology-line">&nbsp;</div>
          <div class="article-chronology-logo"><i class="fa <%= stage.stagetype.icon %>"></i></div>
          <div class="article-chronology-date"><p><%= stage.date_time.strftime('%d.%m.%Y') %> <br/> <%=stage.date_time.strftime('%H:%M')%> </p></div>
        </div>
      </section>

    <% end %>
  <% end %>



</section>