<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"	content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes"/>
  <title>Traveler - <%= yield(:title) %></title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "styles.css" %>
</head>

<body>
<header id="head-top">

  <div id="head-top-center">

    <div id="head-top-center">

      <div class="head-top-nav">

        <a href="#">Accueil</a>

        <!--<a href="#">link2</a>

        <a href="#">link3</a>

        <a href="#">link4</a>-->
      </div>

      <div id="head-top-logo"><i class="fa fa-globe"></i></div>

      <div class="head-top-nav">
        <a href="#">Recherche</a>

        <!--<a href="#">link2</a>

        <a href="#">link3</a>

        <a href="#">link4</a>-->
      </div>

    </div>

  </div>

</header>


<%= yield %>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<footer>
  <div id="footer-center">

    <div class="footer-col col1">
      <h1>About</h1>
      <p>Copyright (c) All right reserved to : <br/>
        Margaux Divernois<br/>
        Steve Visinand<br/>
        Nicolas Gonin</p>
    </div>
    <div class="footer-col col2">
      <h1>Contact</h1>
    </div>
    <div class="footer-col col3">
      <h1>Hello col3</h1>
    </div>

  </div>
</footer>



</body>
