<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"	content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes"/>
  <title>Traveler - <%= yield(:title) %></title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "styles.css" %>
  <%= stylesheet_link_tag "lightgallery.js" %>
</head>

<body>
<header id="head-top">

  <div id="head-top-center">

      <div id="head-top-logo"><i class="fa fa-globe"></i></div>

      <p id="head-top-title"><a href="<%=index_path()%>">Neeeed Holiday !</a></p>

      <div class="head-top-nav">


        <div id="button-open-pannel">

          <% if user_signed_in? %>
              <p><i class="fa fa-user"></i></p>
          <% else %>
              <p><i class="fa fa-sign-in"></i></p>
          <% end %>

        </div>

      </div>

  </div>

</header>

<% flash.each do |name, msg| %>
      <% if msg.class == Array %>
          <div class="<%= name %>"><div class="center-content"><p>
          <% msg.each do |message| %>
                <i class="fa fa-exclamation-triangle"></i> <%= message %><br/>
          <% end %>
          </p></div></div>
      <% else %>
        <div class="<%= name %>"><div class="center-content"><p><i class="fa fa-exclamation-triangle"></i> <%= msg %></p></div></div>
      <% end %>
<% end %>
<% flash = nil %>


<section id="user-pannel">
  <div class="center-content">
    <% if user_signed_in? %>
      <div id="button-little">
        <%= link_to 'Create Trip', create_new_trip_path() %>
      </div>
      <div id="button-little">
        <%= link_to 'My Trips', trip_from_user_path(current_user.id) %>
      </div>
      <div id="button-little">
        <%= link_to 'Logout', destroy_user_session_url, :method => :delete %>
      </div>
      <div id="info-user">
        <p><%= current_user.username %></p>
      </div>
      <i class="fa fa-user" id="icon-user"></i>

    <% else %>

      <div id="button-little">
        <%= link_to 'Login', user_session_url %>
      </div>
      <div id="button-little">
         <%= link_to 'Subscribe', new_user_registration_url %>
      </div>

    <% end %>
  </div>
</section>

  <%= yield %>

  <%= render 'layouts/footer' %>

</body>
