<%= form_for @trip do |f| %>

    <div class="colx2-container">
      <div class="colx2">
        <%= f.label :title %>
        <%= f.text_field :title %><br />

        <%= f.label :description %>
        <%= f.text_area :description %><br />
      </div>
      <div class="colx2 col2">
        <div class="colx2-container">
          <div class="colx2">
            <%= f.label :date_start %><br />
            <%= f.date_select :date_start, :order => [:day, :month, :year] , :include_blank => true %>
          </div>
          <div class="colx2 col2">
            <%= f.label :date_end %><br />
            <%= f.date_select :date_end, :order => [:day, :month, :year] , :include_blank => true %>
          </div>
        </div>

        <%= f.label :main_country %>
        <%= f.text_field :main_country %><br />
      </div>
    </div>

    <%= f.submit %>
<% end %>