<% content_for :title, t('travel_update_title') %>

<h1>Edit</h1>
<%= form_for @trip do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title %><br />

    <%= f.label :description %>:
    <%= f.text_field :description %><br />

    <%= f.submit %>
<% end %>