<h1>Trips</h1>
<ul>
  <% @trips.each do |trip| %>
    <li><%= link_to trip.title, trip %> <%= trip.id %>, <%= trip.description %></li>
  <% end %>

  <% if @trips.empty? %>
    <p>Aucun voyage</p>
  <% end %>
  

  <br/>

  <% if user_signed_in? %>
    loged : <br/>
    <%= current_user.email %> <br/>
    <%= link_to "Logout", destroy_user_session_url, :method => :delete %>

  <% else %>

      <%= link_to "Subscribe", new_user_registration_url %>
      <%= link_to "Login", user_session_url %>
  <% end %>
</ul>
