<% content_for :title, t('travel_create_title') %>

<h1>Trips (temporaire)</h1>

<%= form_for @trip, url: {action: "create"} do |form| %>
    <%= label_tag(:title, t('travel_create_trip_title')) %>
    <%= text_field_tag(:title) %>

    <%= label_tag(:description, t('travel_create_trip_description')) %>
    <%= text_area_tag(:description) %>

    <%= submit_tag("Create") %>
<% end %>