<% content_for :title, @trip.title %>

<section id="head-travel">

  <div id="head-travel-center">

    <div id="head-travel-img">&nbsp;</div>
    <div id="head-travel-descr">
      <p><%= @trip.title %></p>
      <p><i class="fa fa-calendar"></i>
        <% if !@trip.date_start.nil?
             @trip.date_start.strftime("%d/%m/%y")
           else %>
            <%= t('trip_date_unknown') %>
        <% end %>
        -
        <% if !@trip.date_end.nil?
             @trip.date_end.strftime("%d/%m/%y")
           else %>
            <%= t('trip_date_unknown') %>
        <% end %>
        <br/></p>
      <p><i class="fa fa-user"></i> <%= @trip.user.email %></p>
    </div>

    <% if current_user == @trip.user && !current_user.nil? %>
      <div id="head-travel-ctrl">

        <a href="<%=edit_trip_path(@trip.id)%>" class="little-ctrl-button">
          <i class="fa fa-pencil"></i>
        </a>
      <div>
    <% end %>
  </div>

</section>

<% if current_user == @trip.user && !current_user.nil? %>
  <section id="trip-insert-frm">

    <div id="trip-insert-center">
      <h2><%= t('insertArticle') %></h2>

      <%= form_for [@trip, @stage], :html => { multipart: true } do |f| %>

          <div class="colx2-container">
            <div class="colx2">
              <%= f.label :title %><br />
              <%= f.text_field :title %><br />

              <%= f.label :description %><br />
              <%= f.text_area :description %><br />

              <%= f.label :stagetype_id %><br />

              <% Stagetype.all.each do |type| %>
                  <div class="trip-insert-radio">
                    <input class="rbtn" type="radio" name="stage[stagetype_id]" value="<%=type.id%>" />
                    <span><i class="fa <%=type.icon%>"></i> <%= type.title %></span>
                  </div>
              <% end %>
            </div>
            <div class="colx2 col2">
              <%= f.label :adress %><br />
              <div id="find-mapsAPI">
                <input type="text" name="find_addr" id="find_addr" />
                <div class="find-btn"><i class="fa fa-search"></i></div>
              </div>

              <div id="finded_adresses"></div>
              <p id="nb_results"></p>

              <%= f.label :date_time %><br />
              <%= f.datetime_select :date_time, :order => [:day, :month, :year, :hour, :minute] %><br /><br />

              <%= f.label :image %><br />

              <%= file_field_tag "images[]", type: :file, multiple: true %> <br />

            </div>
          </div>

          <%= f.submit t('insertButton') %>
      <% end %>

      <% if flash[:alerts] %>
          <ul>
            <% flash[:alerts].each do |alert| %>
                <li><%= alert %></li>
            <% end %>
          </ul>
      <% end %>
    </div>
  </section>
<% end %>

<div id="map"></div>


<%= render 'layouts/stages', collection: @my_stages  %>
      
<section id="trip-description">
  <div class="trip-description-center">
    <div class="trip-description-content">

      <p><%= @trip.description %></p>
    </div>

  </div>
</section>

<%= javascript_include_tag 'trip_frm'%>
<%= javascript_include_tag 'trip_map'%>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1Dp3v9OvUEEhePVbi3FoKCHrwpC2Yhhs&callback=initGeo">
</script>



