<div class="display-trip">
  <div class="display-trip-top">
    <div>
      <%= image_tag "http://www.officeholidays.com/images/slider/japan_03.jpg", alt: trip.title, id: trip.id, class: "display-trip-img" %>
      <div class="display-trip-content">
        <b><%= trip.title %></b><br/>
        <%= trip.description %><br/>
        <i class="fa fa-calendar"></i>
          <% if !trip.date_start.nil? %>
            <%= trip.date_start.strftime("%d/%m/%y") %>
          <% else %>
            <%= t('trip_date_unknown') %>
          <% end %>
          -
          <% if !trip.date_end.nil? %>
              <%= trip.date_end.strftime("%d/%m/%y") %>
          <% else %>
            <%= t('trip_date_unknown') %>
          <% end %>
          <br/>
        <i class="fa fa-globe"></i> <%= trip.main_country %>
      </div>
    </div>
  </div>
  <div class="display-trip-buttons">
    <div class="display-trip-buttons-left">
      <% if !current_user.nil? && current_user == trip.user %>
          <i class="fa fa-pencil"></i> <%= link_to t('trip_personnal_edit'), edit_trip_path(trip.id) %>
      <% else %>
          <i class="fa fa-star"></i> <%= link_to t('trip_list_follow') %>
      <% end %>
    </div>
    <%= link_to(trip) do %>
        <div class="display-trip-buttons-right">
          <%= t('trip_list_view') %>
        </div>
    <% end %>
  </div>
</div>