<% content_for :title, @trip.title %>

<section id="head-travel">

  <div id="head-travel-center">

    <div id="head-travel-img">&nbsp;</div>
    <div id="head-travel-descr">
      <p><%= @trip.title %></p>
      <p>Date start - end</p>
      <p>Author</p>
    </div>

  </div>

</section>

<% if current_user == @trip.user && !current_user.nil? %>
  <section id="trip-insert-frm">

    <div id="trip-insert-center">
      <h2><%= t('insertArticle') %></h2>

      <%= form_for([@trip, @stage]) do |f| %>

          <div class="colx2-container">
            <div class="colx2">
              <%= f.label :title %><br />
              <%= f.text_field :title %><br />

              <%= f.label :description %><br />
              <%= f.text_area :description %><br />

              <%= f.label :stagetype_id %><br />

              <% Stagetype.all.each do |type| %>
                  <div class="trip-insert-radio">
                    <input class="rbtn" type="radio" name="stage[stagetype_id]" value="<%=type.id%>" />
                    <i class="fa <%=type.icon%>"> <%=type.title%></i>
                  </div>
              <% end %>
            </div>
            <div class="colx2 col2">
              <%= f.label :adress %><br />
              <div id="find-mapsAPI">
                <input type="text" name="find_addr" id="find_addr" />
                <div class="find-btn"><i class="fa fa-search"></i></div>
              </div>

              <div id="finded_adresses"></div>
              <p id="nb_results"></p>

              <%= f.label :date_time %><br />
              <%= f.datetime_select :date_time, :order => [:day, :month, :year, :hour, :minute] %><br /><br />

              <%= f.label :image %><br />
              <%= f.file_field :image %><br />

            </div>
          </div>

          <%= f.submit t('insertButton') %>
      <% end %>

      <% if flash[:alerts] %>
          <ul>
            <% flash[:alerts].each do |alert| %>
                <li><%= alert %></li>
            <% end %>
          </ul>
      <% end %>
    </div>
  </section>
<% end %>

<div id="map"></div>

<!--
<section id="travel-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d21706.357630712628!2d6.99744205!3d47.152082300000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sch!4v1455634428914" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
-->



<section id="articles">

  <% if @myStages.empty? %>
      <p>Aucun stage</p>
  <% end %>

  <% @myStages.each do |myStage| %>
      <section class="article-line">
        <article class="article-all-content">
          <div class="article-box">

            <%= image_tag myStage.image.url(:small) , :class => "article-img" %>
            <div class="article-content">

              <h1><%= myStage.title %></h1>
              <p><%= myStage.description %></p>
              <p class="article-lieu"><%= myStage.adress %></p>

            </div>
          </div>
          <% if current_user == @trip.user && !current_user.nil? %>
            <div class="article-control">
              <%= link_to t('edit'),
                          edit_trip_stage_path(@trip, myStage),
                          :class=>"article-control-btn"%>
              <%= link_to t('delete'),
                          [@trip, myStage],
                          confirm: "Are you sure?",
                          :method => :delete,
                          :class=>"article-control-btn"%>
            </div>
          <% end %>
        </article>

        <div class="article-chronology">
          <div class="article-chronology-line">&nbsp;</div>
          <div class="article-chronology-logo"><i class="fa <%= myStage.stagetype.icon %>"></i></div>
          <div class="article-chronology-date"><p><%= myStage.date_time.strftime('%d.%m.%Y') %> <br/> <%=myStage.date_time.strftime('%H:%M')%> </p></div>
        </div>
      </section>
  <% end %>

</section>

<section id="trip-description">
  <div class="trip-description-center">
    <div class="trip-description-content">

      <p><%= @trip.description %></p>
    </div>

  </div>
</section>

<%= javascript_include_tag 'trip_frm'%>
<%= javascript_include_tag 'trip_map'%>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1Dp3v9OvUEEhePVbi3FoKCHrwpC2Yhhs&callback=initGeo">
</script>



