<% content_for :title, t('sign_up_title') %>

<% if resource.errors.full_messages.size != 0 %>
    <% flash[:alert] = flash[:alert].to_a.concat resource.errors.full_messages %>
<% end %>

<div class="center-content">
  <h2><%= t('sign_up_title') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class="display-box">
  <div class="display-box-top">
    <div>

        <div class="field">
          <%= f.label :username %><br />
          <%= f.text_field :username %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> <%= t('account_password_minimum') %>)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
    </div>
  </div>
  <div class="display-box-buttons">
    <div class="display-box-buttons-left">
      <%= link_to t('login_button'), user_session_url %>
    </div>

    <div class="display-box-buttons-right bold">
      <%= f.submit t('sign_up_button') %>
    </div>
  </div>
</div>

<br />

<% end %>

</div>